# See https://help.github.com/ignore-files/ for more about ignoring files.

# Type definitions
flow-typed/npm

# dependencies
node_modules
.yarn-cache

# testing
docs
reports/**/*

# production
temp
dist

!.eslintrc.js
