# See https://help.github.com/ignore-files/ for more about ignoring files.

# Type definitions
flow-typed/npm

# dependencies
node_modules
.yarn-cache

# testing
reports/**/*
!reports/simple.xsl
deoptigate

# production
temp/*
dist/*

# misc
.DS_Store
.env*
!.env.changeme
*.bak

*-debug.log*
*-error.log*
